USE [DailyExpenditureDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 3/6/2020 11:44:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExpenseMaster]    Script Date: 3/6/2020 11:44:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenseMaster](
	[ExpenseId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[NameOfExpense] [nvarchar](max) NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Date] [datetime] NOT NULL,
	[ExpenseTypeId] [int] NOT NULL,
	[PaymentTypeId] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[IsActive] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ExpenseMaster] PRIMARY KEY CLUSTERED 
(
	[ExpenseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExpenseTypeMaster]    Script Date: 3/6/2020 11:44:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenseTypeMaster](
	[ExpenseTypeId] [int] IDENTITY(1,1) NOT NULL,
	[ExpenseType] [nvarchar](max) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ExpenseTypeMaster] PRIMARY KEY CLUSTERED 
(
	[ExpenseTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTypeMaster]    Script Date: 3/6/2020 11:44:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTypeMaster](
	[PaymentTypeId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentType] [nvarchar](max) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PaymentTypeMaster] PRIMARY KEY CLUSTERED 
(
	[PaymentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalaryMaster]    Script Date: 3/6/2020 11:44:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalaryMaster](
	[SalaryId] [int] IDENTITY(1,1) NOT NULL,
	[Salary] [decimal](18, 2) NOT NULL,
	[ProvidentFund] [decimal](18, 2) NOT NULL,
	[IncomeTax] [decimal](18, 2) NOT NULL,
	[ExtraDeduct] [decimal](18, 2) NOT NULL,
	[DeductWithReturn] [decimal](18, 2) NOT NULL,
	[SalaryInHand] [decimal](18, 2) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[IsActive] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Month] [nvarchar](max) NULL,
	[Year] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SalaryMaster] PRIMARY KEY CLUSTERED 
(
	[SalaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDetail]    Script Date: 3/6/2020 11:44:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDetail](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[EmailId] [nvarchar](max) NULL,
	[PhoneNo] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[UserImage] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[IsActive] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserDetail] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ExpenseMaster] ON 

INSERT [dbo].[ExpenseMaster] ([ExpenseId], [UserId], [NameOfExpense], [Amount], [Date], [ExpenseTypeId], [PaymentTypeId], [Note], [CreatedDate], [IsActive]) VALUES (1, 1, N'28th July Expense', CAST(110.00 AS Decimal(18, 2)), CAST(N'2018-07-28T00:00:00.000' AS DateTime), 2, 1, N'28th July Expense on Lunch Food', CAST(N'2018-07-31T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[ExpenseMaster] ([ExpenseId], [UserId], [NameOfExpense], [Amount], [Date], [ExpenseTypeId], [PaymentTypeId], [Note], [CreatedDate], [IsActive]) VALUES (2, 1, N'28th July Expense', CAST(170.00 AS Decimal(18, 2)), CAST(N'2018-07-28T00:00:00.000' AS DateTime), 3, 1, N'28th July Expense On Cosmetic', CAST(N'2018-07-31T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[ExpenseMaster] ([ExpenseId], [UserId], [NameOfExpense], [Amount], [Date], [ExpenseTypeId], [PaymentTypeId], [Note], [CreatedDate], [IsActive]) VALUES (3, 1, N'29th July Expense', CAST(100.00 AS Decimal(18, 2)), CAST(N'2018-07-29T00:00:00.000' AS DateTime), 2, 1, N'29th July Expense on Food', CAST(N'2018-07-31T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[ExpenseMaster] OFF
SET IDENTITY_INSERT [dbo].[ExpenseTypeMaster] ON 

INSERT [dbo].[ExpenseTypeMaster] ([ExpenseTypeId], [ExpenseType], [UserId]) VALUES (2, N'Food', 1)
INSERT [dbo].[ExpenseTypeMaster] ([ExpenseTypeId], [ExpenseType], [UserId]) VALUES (3, N'Cosmetic', 1)
INSERT [dbo].[ExpenseTypeMaster] ([ExpenseTypeId], [ExpenseType], [UserId]) VALUES (4, N'Lunch', 5)
SET IDENTITY_INSERT [dbo].[ExpenseTypeMaster] OFF
SET IDENTITY_INSERT [dbo].[PaymentTypeMaster] ON 

INSERT [dbo].[PaymentTypeMaster] ([PaymentTypeId], [PaymentType], [UserId]) VALUES (1, N'Cash', 1)
INSERT [dbo].[PaymentTypeMaster] ([PaymentTypeId], [PaymentType], [UserId]) VALUES (2, N'Zinger Card', 1)
INSERT [dbo].[PaymentTypeMaster] ([PaymentTypeId], [PaymentType], [UserId]) VALUES (3, N'Cash', 5)
SET IDENTITY_INSERT [dbo].[PaymentTypeMaster] OFF
SET IDENTITY_INSERT [dbo].[UserDetail] ON 

INSERT [dbo].[UserDetail] ([UserId], [Name], [EmailId], [PhoneNo], [UserName], [Password], [UserImage], [CreatedDate], [IsActive]) VALUES (1, N'Dolagobinda', N'babudolagobinda@gmail.com', N'9337167373', N'Dolagobinda', N'Cybria@0909', N'c8ee959df8644b1ab14f42b0b465cbb9.jpg', CAST(N'2018-07-30T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[UserDetail] ([UserId], [Name], [EmailId], [PhoneNo], [UserName], [Password], [UserImage], [CreatedDate], [IsActive]) VALUES (2, N'Manas', N'manas@gmail.com', N'8984416524', N'Manas', N'Cybria@0909', N'87bc551be4cd409ebd0e631461093e30.jpg', CAST(N'2018-07-30T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[UserDetail] ([UserId], [Name], [EmailId], [PhoneNo], [UserName], [Password], [UserImage], [CreatedDate], [IsActive]) VALUES (3, N'Jitendra', N'jitendra@gmail.com', N'7978611765', N'Jitendra', N'Cybria@0909', N'5d691394c5ed4ac099ce0733978da816.jpg', CAST(N'2018-07-30T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[UserDetail] OFF
ALTER TABLE [dbo].[ExpenseTypeMaster] ADD  DEFAULT ((0)) FOR [UserId]
GO
ALTER TABLE [dbo].[PaymentTypeMaster] ADD  DEFAULT ((0)) FOR [UserId]
GO
ALTER TABLE [dbo].[SalaryMaster] ADD  DEFAULT ((0)) FOR [UserId]
GO
ALTER TABLE [dbo].[SalaryMaster] ADD  DEFAULT ((0)) FOR [Year]
GO
ALTER TABLE [dbo].[ExpenseMaster]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ExpenseMaster_dbo.ExpenseTypeMaster_ExpenseTypeId] FOREIGN KEY([ExpenseTypeId])
REFERENCES [dbo].[ExpenseTypeMaster] ([ExpenseTypeId])
GO
ALTER TABLE [dbo].[ExpenseMaster] CHECK CONSTRAINT [FK_dbo.ExpenseMaster_dbo.ExpenseTypeMaster_ExpenseTypeId]
GO
ALTER TABLE [dbo].[ExpenseMaster]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ExpenseMaster_dbo.PaymentTypeMaster_PaymentTypeId] FOREIGN KEY([PaymentTypeId])
REFERENCES [dbo].[PaymentTypeMaster] ([PaymentTypeId])
GO
ALTER TABLE [dbo].[ExpenseMaster] CHECK CONSTRAINT [FK_dbo.ExpenseMaster_dbo.PaymentTypeMaster_PaymentTypeId]
GO
ALTER TABLE [dbo].[ExpenseMaster]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ExpenseMaster_dbo.UserDetail_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserDetail] ([UserId])
GO
ALTER TABLE [dbo].[ExpenseMaster] CHECK CONSTRAINT [FK_dbo.ExpenseMaster_dbo.UserDetail_UserId]
GO
ALTER TABLE [dbo].[ExpenseTypeMaster]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ExpenseTypeMaster_dbo.UserDetail_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserDetail] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExpenseTypeMaster] CHECK CONSTRAINT [FK_dbo.ExpenseTypeMaster_dbo.UserDetail_UserId]
GO
ALTER TABLE [dbo].[PaymentTypeMaster]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PaymentTypeMaster_dbo.UserDetail_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserDetail] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PaymentTypeMaster] CHECK CONSTRAINT [FK_dbo.PaymentTypeMaster_dbo.UserDetail_UserId]
GO
ALTER TABLE [dbo].[SalaryMaster]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SalaryMaster_dbo.UserDetail_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserDetail] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalaryMaster] CHECK CONSTRAINT [FK_dbo.SalaryMaster_dbo.UserDetail_UserId]
GO
